# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Bytecode / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OpenCV / model artifacts
models/*.yml
models/*.npy

#Datasets
dataset/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
